<?php
$helper = Mage::helper('blog');
$posts = $this->getAllPosts();
$displayMode = Mage::getStoreConfig('blog/general/display_mode');
$blogTitle = Mage::getStoreConfig('blog/general/blog_name');
?>
<div class="blog-posts-index">
    <h2 class="blog-name"><?php echo $blogTitle ?></h2>
    <ul>
        <?php foreach($posts as $post) : ?>
            <li>
                <h3><a class="post-title" href="<?php echo $helper->getPostLink($post->getID()) ?>"><?php echo $post->getTitle() ?></a></h3>
                <?php if ($displayMode == 'pe' || $displayMode == 'pea') : ?>
                    <p class="post-excerpt"><?php echo Mage::helper('core/string')->truncate( $post->getBody(), 64); ?></p>
                    <?php if ($displayMode == 'pea') : ?>
                        <small class="post-author"><?php echo $post->getAuthorName(); ?></small>
                    <?php endif; ?>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <p><a href="<?php echo Mage::getBaseUrl() . "blog/index/myposts" ?>">My posts</a></p>
        <p><a href="<?php echo Mage::getBaseUrl() . "blog/post/create" ?>">Create new post</a></p>
    <?php endif; ?>
</div>
