<?php
$statuses = array(
    'draft' => Mage::helper('blog')->__('Draft'),
    'published' => Mage::helper('blog')->__('Published'),
);
?>
<h2>Create a blog post</h2>
<?php if ($message = Mage::registry('blog_msg')) : ?>
    <p class="error"><?php echo $message ?></p>
<?php endif; ?>
<form action="<?php echo Mage::getBaseUrl() . 'blog/post/store' ?>" method="post">
    <div>
        <label for="title">Title</label>
    </div>
    <input type="text" name="name" value="<?php echo isset($_POST['name']) ? $_POST['name'] : '' ?>">
    <div>
        <label for="title">Body</label>
    </div>
    <textarea name="body"><?php echo isset($_POST['body']) ? $_POST['body'] : '' ?></textarea>
    <div>
        <label for="status">Status</label>
    </div>    
    <select name="status">
        <?php foreach ($statuses as $key => $val) : ?>
            <option value="<?php echo $key ?>"><?php echo $val ?></option>
        <?php endforeach ?>
    </select>
    <div style="margin-top: 20px">
        <input type="submit" name="submit" value="Submit">
    </div>

    <a href="<?php echo Mage::getBaseUrl() . "blog/" ?>">Back to blog index</a>
</form>
