<?php
$post = $this->getPost();
$postId = $post->getId();
$statuses = array(
    'draft' => Mage::helper('blog')->__('Draft'),
    'published' => Mage::helper('blog')->__('Published'),
);
?>
<h2>Edit blog post</h2>
<?php echo $this->getChildHtml('blog.message') ?>
<form action="<?php echo Mage::getBaseUrl() . "blog/post/update/id/{$postId}" ?>" method="post">
    <div>
        <label for="title">Title</label>
    </div>
    <input type="text" name="name" value="<?php echo $post->getTitle() ?>">
    <div>
        <label for="title">Body</label>
    </div>
    <textarea name="body"><?php echo $post->getBody() ?></textarea>
    <div>
        <label for="status">Status</label>
    </div>
    <select name="status">
        <?php foreach ($statuses as $key => $val) : ?>
            <option <?php echo ($post->getStatus() == $key) ? 'selected' : '' ?> value="<?php echo $key ?>"><?php echo $val ?></option>
        <?php endforeach ?>
    </select>
    <div style="margin-top: 20px">
        <input type="submit" name="submit" value="Submit">
    </div>

    <a href="<?php echo Mage::getBaseUrl() . "blog/index/myposts" ?>">Back to my posts</a>
    <a href="<?php echo Mage::getBaseUrl() . "blog/" ?>">Back to blog index</a>
</form>
