<?php
$helper = Mage::helper('blog');
$post = $this->getPost();
$postId =  $post->getId();
?>
<?php echo $this->getChildHtml('blog.message') ?>
<div class="blog-post-view">
    <h2><?php echo $post->getTitle() ?></h2>
    <p><?php echo $post->getBody() ?></p>
    <small><?php echo $post->getAuthorName() ?></small>
</div>
<?php if ($this->isAuthorLoggedIn()): ?>
    <p><a href="<?php echo Mage::getBaseUrl() . "blog/post/edit/id/{$postId}" ?>">Edit</a></p>
    <p><a href="<?php echo Mage::getBaseUrl() . "blog/post/destroy/id/{$postId}" ?>">Delete</a></p>
<?php endif; ?>
<p><a href="<?php echo Mage::getBaseUrl() . "blog/index/myposts" ?>">Back to my posts</a></p>
<p><a href="<?php echo Mage::getBaseUrl() . "blog/" ?>">Back to blog index</a></p>
